<form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Create new post</h1>

    <div 
        class="form-control"
        [ngClass]="{ invalid: form.get('title').touched && form.get('title').invalid }"
    >
        <label for="title">Name post</label>
        <input id="title" type="text" formControlName="title">
        <div 
            class="validation"
            *ngIf="form.get('title').touched && form.get('title').invalid"
        >
            <small *ngIf="form.get('title').errors.required">
                enter title in input
            </small>
        </div>
    </div>

    <div class="form-control">
        <label >Post Content:</label>
        <quill-editor formControlName="text"></quill-editor>
    </div>

    <div 
        class="form-control"
        [ngClass]="{ invalid: form.get('author').touched && form.get('author').invalid }"
    >
        <label for="author">Author post</label>
        <input id="author" type="text" formControlName="author">
        <div 
            class="validation"
            *ngIf="form.get('author').touched && form.get('author').invalid"
        >
            <small *ngIf="form.get('author').errors.required">
                enter author in input
            </small>
        </div>
    </div>

    <button
        type="submit"
        class="btn btn-block btn-dark"
        [disabled]="form.invalid"    
    >Create post</button>
</form>
